# Database configuration
DATABASE_URL=postgres://subsphere:subsphere@db:5432/subsphere

# Django Security Keys
SECRET_KEY=yoursecretkeyhere

# Razorpay API Credentials
RAZORPAY_KEY_ID=rzp_test_yourkeyid
RAZORPAY_KEY_SECRET=yourkeysecret

# Frontend and Hosting Configuration
FRONTEND_URL=http://localhost:3000
ALLOWED_HOSTS=localhost,127.0.0.1,nginx
DEBUG=True
